#Ignore all xml files
*.xml
#ignore sqlite databases
*.db
#ignore virtual environment (pycharm-generated)
venv/
#ignore r files associated with saved workspaces and projects
*.Rhistory
.Rproj.user
*.Rproj
#ignore html files produced for EDA by Rmarkdown scripts
EDA/*.html
#ignore pyc files
*.pyc
#ignore GloVe word embedding text files
glove*.txt

